@font-face {
  font-family: 'custom-font';
  src: url('../font/custom-font.eot?44958944');
  src: url('../font/custom-font.eot?44958944#iefix') format('embedded-opentype'),
       url('../font/custom-font.woff?44958944') format('woff'),
       url('../font/custom-font.ttf?44958944') format('truetype'),
       url('../font/custom-font.svg?44958944#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?44958944#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-trash-empty:before { content: '\e800'; } /* '' */
.icon-comment-empty:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */


/* Buttons and page styles - */

body {
  background-color: rgb(255, 154, 154);
  color:#fff;
  margin:0 auto;
  font: 1em 'Montserrat',sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  letter-spacing: .03em;
  font-size: 30px;
  margin: 40px 0;
}

.container {
  padding-top:20px;
  text-align:center;
}

a {
  text-decoration:none;
  color:#fff;
  margin:0 10px;
}

.btn {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  position:relative;
  display:inline-block;
  overflow:hidden;
  height:53px;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  line-height:30px;
  font-size:16px;
}

.btn span.icon,.btn span.title {
  display:block;
  position:relative;
  line-height:50px;padding:0 40px;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  width: 80px;
}

.btn span.left {
  float:left;
  border-radius:6px 0 0 6px;
  -moz-border-radius:6px 0 0 6px;-webkit-border-radius:6px 0 0 6px;
  width: 27px;
}

.btn span.right {
  float:right;
  border-radius:0 6px 6px 0;
  -moz-border-radius:0 6px 6px 0;
  -webkit-border-radius:0 6px 6px 0;
}

.btn span.icon {
  font-size: 27px;
  background-color:#00967f;
  -webkit-box-shadow:0 3px 0 0 #007261;
  box-shadow:0 3px 0 0 #007261;
  text-shadow:0px 1px 1px #888;
}

.btn span.title {
  -webkit-box-shadow:0 3px 0 0 #00ae94;
  box-shadow:0 3px 0 0 #00ae94;
  background-color:#00cdae;
}

.btn span.arrow-left,.btn span.arrow-right {
  position:absolute;
  width:0;
  height:0;
  border-top:25px solid transparent;
  border-bottom:25px solid transparent;
  -webkit-transition:all .15s;-transition:all .15s;
  -webkit-transition-property:left,right;
  transition-property:left,right;
}

.btn.left span.arrow-right {
  left:0;-webkit-box-shadow:-10px 0 0 0 #00967f,-10px 3px 0 0 #007261;
  box-shadow:-10px 0 0 0 #00967f,-10px 3px 0 0 #007261;
  border-left:10px solid #00967f;
}

.btn:hover span.arrow-right {
  left:10px;
}

